In [1]:
import pandas as pd

data = {
    'cust_id': [101, 102, 103, 104],
    'name': ['rick', 'morty', 'pickle', 'jerry'],
}

df = pd.DataFrame(data)
df

   cust_id    name
0      101    rick
1      102   morty
2      103  pickle
3      104   jerry

In [3]:
df.isin(df.cust_id)

   cust_id   name
0     True  False
1     True  False
2     True  False
3     True  False

In [4]:
df.isin({'cust_id': [101, 102]})

   cust_id   name
0     True  False
1     True  False
2    False  False
3    False  False

In [5]:
df.isin([101, 102, 120])

   cust_id   name
0     True  False
1     True  False
2    False  False
3    False  False

In [7]:
# df.name.isin(['rick'])
df.name.isin('rick')

0     True
1    False
2    False
3    False
Name: name, dtype: bool