In [1]:
import pandas as pd

df = pd.DataFrame({
  "Accessories": ["Laptop", "Laptop", "Ipad", "Ipad", "Tablet", "Laptop"],
  "customer": ["Andrew", "Andrew", "Tom", "Andrew", "Tobey", "Peter"],
  "quantity": [1, 2, 2, 3, 1, 2],
})
df

  Accessories customer  quantity
0      Laptop   Andrew         1
1      Laptop   Andrew         2
2        Ipad      Tom         2
3        Ipad   Andrew         3
4      Tablet    Tobey         1
5      Laptop    Peter         2

In [6]:
df.pivot(
  index="Accessories", 
  columns="customer", 
  values="quantity"
)

ValueError: Index contains duplicate entries, cannot reshape

In [7]:
df.groupby(['Accessories', 'customer']).quantity.sum()

Accessories  customer
Ipad         Andrew      3
             Tom         2
Laptop       Andrew      3
             Peter       2
Tablet       Tobey       1
Name: quantity, dtype: int64

In [8]:
df.set_index(["Accessories", "customer"])["quantity"]

Accessories  customer
Laptop       Andrew      1
             Andrew      2
Ipad         Tom         2
             Andrew      3
Tablet       Tobey       1
Laptop       Peter       2
Name: quantity, dtype: int64