In [17]:
import pandas as pd
import numpy as np
df = pd.DataFrame({
  "Accessories": ["Laptop", "Laptop", "Ipad", "Ipad", "Tablet", "Laptop"],
  "customer": ["Andrew", "Andrew", "Tom", "Andrew", "Tobey", "Peter"],
  "quantity": [1, 2, np.nan, 3, 1, 2],
})
df

  Accessories customer  quantity
0      Laptop   Andrew       1.0
1      Laptop   Andrew       2.0
2        Ipad      Tom       NaN
3        Ipad   Andrew       3.0
4      Tablet    Tobey       1.0
5      Laptop    Peter       2.0

# Option-1

In [18]:
df[df.isna()]

  Accessories customer  quantity
0         NaN      NaN       NaN
1         NaN      NaN       NaN
2         NaN      NaN       NaN
3         NaN      NaN       NaN
4         NaN      NaN       NaN
5         NaN      NaN       NaN

# Option-2

In [19]:
df.isna()

   Accessories  customer  quantity
0        False     False     False
1        False     False     False
2        False     False      True
3        False     False     False
4        False     False     False
5        False     False     False

# Option-3

In [20]:
df[df.isnull().any(axis=1)]

  Accessories customer  quantity
2        Ipad      Tom       NaN

# Option-4

In [21]:
df[df.isnull(axis=1)]

TypeError: DataFrame.isnull() got an unexpected keyword argument 'axis'