In [1]:
import pandas as pd

data = {
    'name': ['Mark', 'Ramilla', 'Deb', 'Laxman'],
    'profession': ['dev', 'mle', 'mle', 'hr'],
    'gender': ['male', 'female', 'male', 'male'],
    'age': [21, 20, 30, 27],
    'review': ['need improvement', 'Can be improved', 'Scope of improvement', 'Great'],
    'rating': [10, 5, 7, 9]
}

df = pd.DataFrame(data)
df

      name profession  gender  age                review  rating
0     Mark        dev    male   21      need improvement      10
1  Ramilla        mle  female   20       Can be improved       5
2      Deb        mle    male   30  Scope of improvement       7
3   Laxman         hr    male   27                 Great       9

In [2]:
df_new = df[(df.age>=23) & (df.age<=30)]
df_new

     name profession gender  age                review  rating
2     Deb        mle   male   30  Scope of improvement       7
3  Laxman         hr   male   27                 Great       9

In [3]:
df_new['name']

2       Deb
3    Laxman
Name: name, dtype: object