In [1]:
import pandas as pd

data = {
    'city': ['Alaska', 'Texas', 'California', 'New York'],
    'area': [1723337, 695662, 423967, 783000],
    'population': [700000, 26448193, 38332521, 19651127]
}

df = pd.DataFrame(data)
df

         city     area  population
0      Alaska  1723337      700000
1       Texas   695662    26448193
2  California   423967    38332521
3    New York   783000    19651127

In [7]:
df1 = df.sort_values('population', ascending = True)

In [10]:
df1['population']

0      700000
3    19651127
1    26448193
2    38332521
Name: population, dtype: int64