In [21]:
import pandas as pd
import numpy as np

data = {
    'name': ['Jim', 'Clarke', 'Kent', 'Mark'],
    'username': ['itsjimhere', 'clark002', 'itskentment', 'markyoumustknow'],
    'userid': [20, 10, 86, 21]
}

df = pd.DataFrame(data)
df

     name         username  userid
0     Jim       itsjimhere      20
1  Clarke         clark002      10
2    Kent      itskentment      86
3    Mark  markyoumustknow      21

In [24]:

def check(name, username):
    return name.lower() not in username

# filtered_df = df[df.apply(lambda x: check(x['name'], x['username']), axis=1)]
# print(filtered_df['userid'])

1    10
Name: userid, dtype: int64

In [28]:
df[~(df.apply(lambda x:check(x['name'],x['username']), axis=1))]['userid']

0    20
2    86
3    21
Name: userid, dtype: int64