In [1]:
import pandas as pd

data = {
    'name': ['Luffy', 'Chopper', 'Zoro', 'Sanji'],
    'marks': [15, 89, 33, 32]
}

df = pd.DataFrame(data)
df

      name  marks
0    Luffy     15
1  Chopper     89
2     Zoro     33
3    Sanji     32

In [3]:
mask = df.marks>=20

In [4]:
result = df[mask]['name']

In [5]:
result

1    Chopper
2       Zoro
3      Sanji
Name: name, dtype: object