In [1]:
import pandas as pd

data = {
    'name': ['Elon', 'Jeff', 'Bill', 'Falguni'],
    'gender': ['M', 'F', 'M', 'F'],
    'income': [53000.0, 28000.0, 25000.0, 44000.0]
}

df = pd.DataFrame(data)

In [2]:
df

      name gender   income
0     Elon      M  53000.0
1     Jeff      F  28000.0
2     Bill      M  25000.0
3  Falguni      F  44000.0

In [9]:
income = df.groupby('gender')[['income']].mean()

In [10]:
income

         income
gender
F       36000.0
M       39000.0